h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
h2 {
    text-align: center;
    font-size: medium;
    color: white;
}
h3{
    text-align: center;
    font-size: medium;
    color: white;
}
h4{
    text-align: center;
    font-size: medium;
    color: white;
}

body {
    background: black;
    text-align: center;
}
nav {
    background-color: #e2a213;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div#NavBar a {
    padding: 100px 100px;
    font-size: xx-large;
    color: black;
}
p#DeltaFiveParagraph{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 700px;
    height: 250px;
    background-color:  #e2a213;
    color: black;

}
img#DeltaFiveLogo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding: 10px 10px;
    background-color: #878787
}
p#MTNBarbellParagraph{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 700px;
    height: 250px;
    background-color:  #878787;
    color: black;

}
img#MTNPhoto {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding: 10px 10px;
    background-color: #e2a213
}
p#background {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 700px;
    height: 250px;
    background-color:  white;
    color: black;
}
img#backgroundphoto {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding: 10px 10px;
    background-color: #e2a213;
}


