h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background: white;
}
nav {
    background-color: #e2a213;
    border
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div#NavBar a {
    padding: 100px 100px;
    font-size: xx-large;
    color: black;
}