h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
h2 {
    text-align: center;
    font-size: medium;
    color: white;
}
h3{
    text-align: center;
    font-size: medium;
    color: white;
}
h4{
    text-align: center;
    font-size: medium;
    color: white;
}

body {
    background: black;
    text-align: center;
}
table {
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    background-color: white;
    border: 1px solid;
    width:50%;}
td {    
    text-align: left;
    height: 25px;
}
th {
background-color: #e2a213;
}
th, td {
    padding:5px;
}
nav {
    background-color: #e2a213;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div#NavBar a {
    padding: 150px 150px;
    font-size: xx-large;
    color: black;
}
p#DeltaFiveParagraph{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 700px;
    height: 250px;
    background-color:  #e2a213;
    color: black;

}
img#DeltaFiveLogo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding: 10px 10px;
    background-color: #878787
}
p#MTNBarbellParagraph{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 700px;
    height: 250px;
    background-color:  #878787;
    color: black;

}
img#MTNPhoto {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding: 10px 10px;
    background-color: #e2a213
}
p#background {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 700px;
    height: 250px;
    background-color:  white;
    color: black;
}
img#backgroundphoto {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    padding: 10px 10px;
    background-color: #e2a213;
}
div#instagram {
    text-align: center;
    background-color: #878787;
    margin: auto;
}
blockquote {
    text-align: center;
    margin: auto;
}
form {
    background-color: white;
}

div#calculate1RM {
    color: black;
    background-color: #e2a213;
    padding: auto;
    margin: auto;
}

